<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fingerprint Recognition</title>
</head>
<body>
    <div id="user-info">
        <!-- The user data will be dynamically updated here -->
    </div>
    <h1>Fingerprint data test</h1>

    <script>
        // WebSocket connection to the fingerprint consumer
        const socket = new WebSocket('ws://127.0.0.1:8000/fingerprint/');

        socket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log("Received data:", data);

            if (data.name) {
                print("Working!")
                // If user data is received, display it
                const userInfo = `
                    <p>Name: ${data.name}</p>
                `;
                document.getElementById("user-info").innerHTML = userInfo;  // Update user data
            }
        };

        socket.onclose = function(e) {
            console.error('WebSocket closed unexpectedly');
        };
    </script>
</body>
</html>
