<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Smart Canteen Management System{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'user_dashboard' %}">User Dashboard</a></li>
                <li><a href="{% url 'merchant_dashboard' %}">Merchant Dashboard</a></li>
                <li><a href="{% url 'admin_dashboard' %}">Admin Dashboard</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                <li><a href="{% url 'about_us' %}">About Us</a></li>
                <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
                <li><a href="{% url 'support' %}">Support</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 Smart Canteen Management System</p>
    </footer>
</body>
</html>